{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<!--Page Title-->
<section class="page-title centred bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url({% static '/app/assets/images/shape/shape-70.png' %});">
        </div>
        <div class="pattern-2" style="background-image: url({% static '/app/assets/images/shape/shape-71.png' %});">
        </div>
    </div>
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>About Owners</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>About Owners</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- about-section -->
<section class="about-section">
    <div class="auto-container">

        <!-- Ketan Gohel Details -->

        <div class="row align-items-center clearfix">
            <div class="col-lg-4 col-md-7 col-sm-7 image-column">

                <div class="image-box">

                    <figure class="image clearfix img-rounded"><img src="{% static 'img_new/owner/ketangohel-2.jpg' %}"
                            alt="" width="400px" height="800px" draggable="false">
                    </figure>
                </div>

            </div>
            <div class="col-lg-8 col-md-17 col-sm-17 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">


                            <h2>Ketan Gohel</h2>
                            <p style="padding-top: 10px;"><b style="font-size: 25px;">CEO</b> at <b
                                    style="font-size: 25px;">Nygma Infotech Private
                                    Limited</b></p>

                        </div>
                        <div class="text">
                            <ul class="list-style-one clearfix">
                                <li>
                                    <p> Skilled Business Analyst with experience in a range of client-facing roles
                                        across
                                        multiple industries. Skilled in business requirement gathering and documentation
                                        to
                                        provide exceptional customer support and business planning.</p>
                                </li>
                                <li>
                                    <p> Experienced in a range of business processes and IT project methodologies with
                                        exceptional market research and analysis talents that ensure competitive
                                        planning
                                        for
                                        maximum profitability. Deliver high levels of client satisfaction through
                                        strategic
                                        communication and problem-solving. Recognized team leader who motivates and
                                        develops
                                        productive teams, and effective contributor working collaboratively with
                                        colleagues.
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>



        <!-- Dr. Ketan Nimbark Details  -->

        <div class="row align-items-center clearfix">
            <div class="col-lg-4 col-md-7 col-sm-7 image-column">

                <div class="image-box">

                    <figure class="image clearfix img-circle"><img
                            src="{% static 'img_new/owner/bhaveshdhorajia-2.jpg' %}" alt="" width="400px" height="800px"
                            draggable="false">
                    </figure>
                </div>

            </div>
            <div class="col-lg-8 col-md-17 col-sm-17 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">


                            <h2>Dr. Ketan Nimbark</h2>
                            <p style="padding-top: 10px;"><b style="font-size: 25px;">B.A.M.S</b></p>

                        </div>
                        <div class="text">
                            <ul class="list-style-one clearfix">
                                <li>
                                    <p>
                                        Successful Ayurvedic practitioner as a doctor with more than 25 years of
                                        experience.
                                    </p>
                                </li>
                                <!-- <li>
                                    <p>
                                        We have worked so hard to establish a flatform where we can bring you ayurvedic
                                        products, which means there are no chemical added in products we sell on our
                                        platform. We collaborate with top manufacturer of Ayurveda, natural and herbal
                                        products’ manufacturer and offer you the best possible products range that we
                                        can bring to a center location, that is our applications.
                                    </p>
                                </li> -->
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <br>
        <hr>
        <!-- Dr. Bhavesh Dhorajia Details  -->

        <div class="row align-items-center clearfix">
            <div class="col-lg-4 col-md-7 col-sm-7 image-column">

                <div class="image-box">

                    <figure class="image clearfix img-circle">
                    </figure>
                </div>

            </div>
            <div class="col-lg-8 col-md-17 col-sm-17 content-column">
                <div class="content_block_1">
                    <div class="content-box">
                        <div class="sec-title">


                            <h2>Dr. Bhavesh Dhorajia</h2>
                            <p style="padding-top: 10px;"><b style="font-size: 25px;">B.A.M.S</b></p>

                        </div>
                        <div class="text">
                            <ul class="list-style-one clearfix">
                                <li>
                                    <p>
                                        Successful Ayurvedic practitioner as a doctor with more than 25 years of
                                        experience. As an ayurvedic doctor I know the impact and power of Ayurveda,
                                        which can transform the whole medical industry.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        We have worked so hard to establish a flatform where we can bring you ayurvedic
                                        products, which means there are no chemical added in products we sell on our
                                        platform. We collaborate with top manufacturer of Ayurveda, natural and herbal
                                        products’ manufacturer and offer you the best possible products range that we
                                        can bring to a center location, that is our applications.
                                    </p>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>


        <!-- <hr> -->

        <!-- End Owner Details  -->


    </div>
</section>
<!-- about-section end -->

{% endblock %}