{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<!--Page Title-->
<section class="page-title centred bg-color-1">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url({% static '/app/assets/images/shape/shape-70.png' %});">
        </div>
        <div class="pattern-2" style="background-image: url({% static '/app/assets/images/shape/shape-71.png' %});">
        </div>
    </div>
    <div class="auto-container">
        <div class="content-box">
            <div class="title">
                <h1>Privacy Policy</h1>
            </div>
            <p>Last Updated : 25 March 2021</p>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- about-section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row align-items-center clearfix">


            <div class="content_block_1">
                <div class="content-box">
                    <div class="sec-title">
                        <p>Effective Date: March 25, 2021</p>
                        <h3><b>1. GENERAL</b></h2>
                    </div>
                    <div class="text">
                        <p> <b>a.</b> This Mobile Application with the name of Aayur Tree ("App/Aayur Tree") is
                            operated by Aayur Tree Company("/We/Our/Us"). We are committed to
                            protecting and respecting your privacy. We do collect your personal information
                            and process your personal data in accordance with the IT Act, 2000 (21 of 2000)
                            and other national and state laws which relate the processing of personal data.
                            Please read the following carefully to understand our views and practices
                            regarding your personal data.</p> <br>

                        <p>
                            <b>b.</b> Downloading, accessing, or otherwise using the App indicates that you have
                            read this Privacy Policy and consent to its terms. If you do not consent to the
                            terms of this Privacy Policy, do not proceed to download, access, or otherwise
                            use the App.
                        </p> <br>

                        <p>
                            <b>c.</b> We collect your personal information in order to provide and continually
                            improve our products and services.
                        </p> <br>

                        <p>
                            <b>d.</b> Our privacy policy is subject to change at any time without notice. To make
                            sure you are aware of any changes, please review this policy periodically. The
                            last updated date can found at the beginning of this policy.
                        </p> <br>

                        <p>
                            <b>e.</b> All partner firms and any third-party working with or for Us, and who have
                            access to personal information, will be expected to read and comply with this
                            policy. No third party may access or process personal information held by Us
                            without having first entered into a confidentiality agreement.
                        </p>
                    </div>
                    <br>
                    <div class="sec-title">

                        <h3><b>2. HOW WE COLLECT THE INFORMATION</b></h3>

                    </div>
                    <div class="text">
                        <p><b>a.</b> From you directly and through this App: We may collect information through
                            the App when you visit. The data we collect depends on the context of your
                            interactions with our App.</p>
                        <br>

                        <p>
                            <b>b.</b> Through business interaction: We may collect information through business
                            interaction with you or your employees.
                        </p>
                        <br>
                        <p><b>c.</b> From other sources: We may receive information from other sources, such as public
                            databases; joint marketing partners; social media platforms; or other third
                            parties such as:
                            <br>
                        <p style="margin: 40px;">

                            I. Updated delivery and address information from our carriers or other third
                            parties, which we use to correct our records and deliver your next purchase
                            or communication more easily.

                        <p>

                        <p style="margin: 40px;">
                            II. Information about your interactions with the products and services offered
                            by our subsidiaries.
                        </p>
                        </p>
                        <br>

                        <div class="sec-title">

                            <h3><b>3. INFORMATION WE COLLECT</b></h3>

                        </div>
                        <div class="text">
                            <p><b>a.</b> We collect information primarily to provide better services to all of our
                                customers.
                            </p><br>

                            <p>
                                <b>b.</b> We collect the following information from you when you use or signup on our
                                App:
                                <br> <br>
                            <p style="margin-left: 40px;">
                                Name, email address, postal address, and phone number
                            </p>
                            </p> <br>

                            <p>
                                <b>c.</b> When you visit our App, some information is automatically collecte<b>d.</b>
                                This may
                                include information such as the type of mobile device, Operating System (OS)
                                running on your device, Internet Protocol (IP) address, unique user ID, access
                                times, device type, and language. We also collect information about how you use
                                Our products or services.
                            </p> <br>
                            <p>
                                <b>d.</b> We automatically collect purchase or content use history, which we sometimes
                                aggregate with similar information from other customers to create features such
                                as Best Seller, Top Rated, etc...
                            </p> <br>
                            <p>
                                <b>e.</b> The information about your usage of the App, including crash logs and usage
                                statistics.
                            </p> <br>
                            <p>
                                <b>f.</b> Information about the location of your device, including geolocation
                                information.
                            </p> <br>
                            <p>
                                <b>g.</b> We automatically collect information using "Cookies". Cookies are small data
                                files stored on your device. Among other things, cookies help us to improve our
                                App, our marketing activities, and your experience. We use cookies to see which
                                areas and features are popular and to count visits to our App.
                            </p> <br>
                            <p>
                                <b>h.</b> By using this App, you are agreeing that We may advertise your feedback on
                                the App and other marketing materials.
                            </p> <br>
                            <p>
                                <b>i.</b> We will retain your information as long as we require this to provide you with
                                the goods and services and for such period as mandated by the concerned laws.
                            </p> <br>

                            <p>
                                <b>j.</b> If you opt to receive marketing correspondence from us, subscribe to our
                                mailing list or newsletters, enter into any of our competitions or provide us with
                                your details at networking events, we may use your personal data for our
                                legitimate interests in order to provide you with details about our goods, services,
                                business updates and events.
                            </p>

                        </div>
                        <br>

                        <div class="sec-title">

                            <h3><b>3. INFORMATION WE COLLECT</b></h3>

                        </div>
                        <div class="text">
                            <p>
                                <b>a.</b> We use the information we collect primarily to provide, maintain, protect and
                                improve our current products and services.
                            </p> <br>

                            <p>
                                <b>b.</b> We use the information collected through this App as described in this policy
                                and we may use your information to:
                                <br> <br>

                            <p style="margin-left:40px;">
                                I. Improve our services, App and how we operate our businesses;
                            </p> <br>

                            <p style="margin-left:40px;">
                                II. Understand and enhance your experience using our App, products and
                                services;
                            </p> <br>
                            <p style="margin-left:40px;">
                                III. Personalize our products or services and make recommendations;
                            </p> <br>
                            <p style="margin-left:40px;">
                                IV. Provide and deliver products and services you request;
                            </p> <br>
                            <p style="margin-left:40px;">
                                V. Process, manage, complete, and account for transactions;
                            </p> <br>
                            <p style="margin-left:40px;">
                                VI. Provide customer support and respond to your requests, comments, and
                                inquiries;
                            </p> <br>
                            <p style="margin-left:40px;">
                                VII. Create and manage the online accounts you manage on our App;
                            </p> <br>
                            <p style="margin-left:40px;">
                                VIII. Send you related information, including confirmations, invoices,
                                technical notices, updates, security alerts and support and administrative
                                messages;
                            </p> <br>
                            <p style="margin-left:40px;">
                                IX. Communicate with you about promotions, upcoming events and news
                                about products and services;
                            </p> <br>
                            <p style="margin-left:40px;">
                                X. We may process your personal information without your knowledge or
                                consent where required by applicable law or regulation for the purposes of
                                verification of identity or for prevention, detection or investigation, including
                                of cyber incidents, prosecution and punishment of offences;
                            </p> <br>
                            <p style="margin-left:40px;">
                                XI. Protect, investigate and deter against fraudulent, unauthorized or illegal
                                activity.
                            </p>

                            </p> <br>

                            <div class="sec-title">

                                <h3><b>5. DATA TRANSFER</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    <b>a.</b> Information about our user is an important part of our business and we
                                    take
                                    due care.
                                </p> <br>

                                <p>
                                    <b>b.</b>We share your data with your consent or to complete any transaction or
                                    provide any product or service you have requested or authorized. We also share
                                    data with our affiliates and subsidiaries, with vendors working on our behalf.
                                </p> <br>

                                <p>
                                    <b>c.</b> We may employ other companies and individuals to perform functions on our
                                    behalf. The functions include fulfilling orders for products or services, delivering
                                    packages, sending postal mail and e-mail, removing repetitive information from
                                    customer lists, providing marketing assistance, providing search results and links
                                    (including paid listings and links), processing payments, transmitting content,
                                    scoring credit risk, and providing customer service.
                                </p> <br>

                                <p>
                                    <b>d.</b> These third-party service providers have access to personal information
                                    needed to perform their functions but may not use it for other purposes. Further,
                                    they must process the personal information in accordance with this Privacy
                                    Policy and as permitted by applicable data protection laws.
                                </p> <br>

                                <p>
                                    <b>e.</b> We release account and other personal information when we believe is
                                    appropriate to comply with the law, enforce or apply our conditions of use, and
                                    other agreements, protect the rights, property or safety of Us, our users or
                                    others. This includes exchanging information with other companies and
                                    organizations for fraud protection and credit risk reduction.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>6. DATA SECURITY</b></h3>

                            </div>
                            <div class="text">
                                <p><b>a.</b> We take due care to protect customer data. Technical measures are in place
                                    to prevent unauthorized or unlawful access to data and against accidental loss or
                                    destruction of, or damage to the data. The employees who are dealing with the
                                    data have been trained to protect the data from any illegal or unauthorized
                                    usage.</p> <br>

                                <p>
                                    <b>b.</b> We follow the Payment Card Industry Data Security Standard (PCI DSS) when
                                    handling branded credit cards from the major card schemes.
                                </p> <br>

                                <p>
                                    <b>c.</b> We maintain physical, electronic, and procedural safeguards in connection
                                    with the collection, storage, and disclosure of personal customer information.
                                </p> <br>

                                <p>
                                    <b>d.</b> We take reasonable steps to help protect your personal information in an
                                    effort
                                    to prevent the loss, misuse, and unauthorized access, disclosure alteration and
                                    destruction. It is your responsibility to protect your user names and passwords to
                                    help prevent anyone from accessing or abusing your accounts and services. You
                                    should not use or reuse the same passwords you use with other accounts as
                                    your password for our services.
                                </p> <br>

                                <p>
                                    <b>e.</b> It is important for you to protect against unauthorized access to your
                                    password
                                    and your devices, and applications. Be sure to sign off when you finish using a
                                    non-personal device.
                                </p> <br>

                                <p>
                                    <b>f.</b> Information you provide to us is shared on our secure servers. We have
                                    implemented appropriate physical, technical and organizational measures
                                    designed to secure your information against accidental loss and unauthorized
                                    access, use, alteration or disclosure. In addition, we limit access to personal data
                                    to those employees, agents, contractors, and other third parties that have a
                                    legitimate business need for such access.
                                </p> <br>

                                <p>
                                    <b>g.</b> Information collected from you will be stored for such period as required
                                    to
                                    complete the transaction entered into with you or such period as mandated under
                                    the applicable laws.
                                </p>
                            </div> <br>

                            <div class="sec-title">

                                <h3><b>7. LINKS TO THIRD PARTY SITE/APPS</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    Our App may, from time to time, contain links to and from other Apps/Websites of
                                    third parties. Please note that if you follow a link to any of these Apps/Websites,
                                    such Apps/Websites will apply different terms to the collection and privacy of
                                    your personal data and we do not accept any responsibility or liability for these
                                    policies. When you leave our Site, we encourage you to read the privacy policy
                                    of every App/Website you visit.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>8. SOCIAL NETWORK PLUGINS</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    This App incorporates plugins and/or buttons for social networks, in order to
                                    allow easy sharing on your favourite social networks. These plugins are
                                    programmed so as not to set any cookies when assessing the page to safeguard
                                    the privacy of users. Cookies may be set, if you make voluntary use of the plugin.
                                    The collection and use of information obtained by means of the plugin are
                                    governed by the respective privacy policies of the social networks.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>7. LINKS TO THIRD PARTY SITE/APPS</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    Our App may, from time to time, contain links to and from other Apps/Websites of
                                    third parties. Please note that if you follow a link to any of these Apps/Websites,
                                    such Apps/Websites will apply different terms to the collection and privacy of
                                    your personal data and we do not accept any responsibility or liability for these
                                    policies. When you leave our Site, we encourage you to read the privacy policy
                                    of every App/Website you visit.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>9. SHARING OF PERSONAL INFORMATION</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    <b>a.</b> We do not share your personal data with third parties without your prior
                                    consent other than:
                                    <br> <br>
                                <p style="margin: left 40px;">
                                    I. With third parties who work on our behalf provided such third parties
                                    adhere to the data protection principles set out in the IT Act, 2000 (21 of
                                    2000) and other applicable legislation, or enter into a written agreement with
                                    Us requiring that the third party provide at least the same level of privacy
                                    protection as is required by such principles;
                                </p> <br>
                                <p style="margin: left 40px;">
                                    II. To comply with laws or to respond to lawful requests and legal process;
                                </p> <br>
                                <p style="margin: left 40px;">
                                    III. To protect the rights and property of Us, our agents, customers, and
                                    others including to enforce our agreements, policies and terms of use;
                                </p> <br>
                                <p style="margin: left 40px;">
                                    IV. In an emergency, including to protect the personal safety of any person;
                                    and
                                </p> <br>
                                <p style="margin: left 40px;">
                                    V. For the purpose of a business deal (or negotiation of a business deal)
                                    involving the sale or transfer of all or a part of our business or assets
                                    (business deals may include, for example, any merger, financing,
                                    acquisition, divestiture or bankruptcy transaction or proceeding).
                                </p>
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>10. CHILDREN</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    If you are under the age of 18 or the age of majority in the jurisdiction in which
                                    you reside, you may only use Our App with the consent of your parent or legal
                                    guardian. In any case, We will not be liable for any cause of action that arose
                                    due to non-compliance with this section.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>11. YOUR INFORMATION CHOICES AND CHANGES</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    <b>a.</b> You can also make choices about the collection and processing of your data
                                    by Us. You can access your personal data and opt-out of certain services
                                    provided by the Us. In some cases, your ability to control and access to your
                                    data will be subject to applicable laws.
                                </p> <br>

                                <p>
                                    <b>b.</b> You may opt-out of receiving promotional emails from Us by following the
                                    instructions in those emails. If you opt-out, we may still send you nonpromotional
                                    emails, such as emails about our ongoing business relationship. You
                                    may also send requests about you got preferences, changes and deletions to
                                    your information including requests to opt-out of sharing your personal
                                    information with third parties by sending an email to the email address provided
                                    at the bottom of this document.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>12. CHANGES TO THIS POLICY</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    We may change this policy from time to time. If we make any changes to this
                                    policy, we will change the "Last Updated" date above. You agree that your
                                    continued use of our services after such changes have been published to our
                                    services will constitute your acceptance of such revised policy.
                                </p>

                            </div> <br>

                            <div class="sec-title">

                                <h3><b>13. NEWSLETTER</b></h3>

                            </div>
                            <div class="text">
                                <p>
                                    <b>a.</b> Following subscription to the newsletter, your e-mail address is used for
                                    our
                                    advertising purposes until you cancel the newsletter again. Cancellation is
                                    possible at any time. The following consent has been expressly granted by you
                                    separately, or possibly in the course of an ordering process: (I am accepting to
                                    receive newsletter from this App), you may revoke your consent at any time with
                                    future effect. If you no longer want to receive the newsletter, then unsubscribe by
                                    clicking on unsubscribe option given in the email footer.
                                </p><br>
                                <p>
                                    If you have any concern about privacy or grievances with Us, please contact us
                                    with a thorough description and we will try to resolve the issue for you.
                                </p>

                            </div>
                            <div class="sec-title">

                                <h3><b>Contact Details:</b></h3> <br>
                                <p>
                                    Name: Sitaram <br>
                                    Ph: +91 9157407724 <br>
                                    Email: info@aayurtree.com <br>
                                    Address:
                                </p>


                            </div>
                        </div>

                    </div>
                </div>
</section>
<!-- about-section end -->

{% endblock %}